# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/

# Environment
.env

# Node
node_modules/

# Logs
logs/*.log

# Database
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

data/
